div.events_at { font-size: 12px; color:#660000; padding-left:10px; font-weight:bold;}
div.event { font-size: 10px; color:#990000; padding-left:15px;}

table.rubyholic td {font-size:12px;padding:4px;}
table.rubyholic th {font-weight:bold;font-size:large;}
table.rubyholic td.mainrow {font-size:14px;}